import(randomForestSRCM)
import(parallel)
importFrom(splines, bs)
importFrom(nlme, gls, corCompSymm)

export(boostmtree,
       predict.boostmtree,
       plot.boostmtree,
       print.boostmtree,
       partialPlot)

S3method(print, boostmtree)
S3method(plot, boostmtree)
S3method(predict, boostmtree)

