import(randomForestSRCM)
import(parallel)
import(Matrix)
import(splines)
import(nlme)
import(lme4)

export(boostmtree,
       predict.boostmtree,
       plot.boostmtree,
       print.boostmtree,
       partialPlot)

S3method(print, boostmtree)
S3method(plot, boostmtree)
S3method(predict, boostmtree)

