import(randomForestSRCM)
import(parallel)
importFrom(splines, bs)
importFrom(nlme, gls, corSymm, corCompSymm, corAR1)

export(boostmtree,
       predict.boostmtree,
       plot.boostmtree,
       print.boostmtree,
       partialPlot,
       simLong)

S3method(print, boostmtree)
S3method(plot, boostmtree)
S3method(predict, boostmtree)

