import(_RFSRC_PACKAGE_NAME_)
importFrom("splines", "bs")
importFrom("nlme", "gls", "corSymm", "corCompSymm", "corAR1")
importFrom("parallel", mclapply)
importFrom("graphics", "abline", "barplot", "layout", "legend",
           "lines", "par", "plot", "points", "axis", "text")
importFrom("grDevices", "dev.off", "grey", "pdf")
importFrom("stats", "as.formula", "coef", "lowess", "model.matrix",
           "predict", "quantile", "rnorm", "runif", "sd", "supsmu",
           "var","rbinom")
importFrom("utils", "txtProgressBar", "setTxtProgressBar")

export(boostmtree,
       predict.boostmtree,
       plot.boostmtree,
       print.boostmtree,
       partialPlot,
       marginalPlot,
       vimp.boostmtree,
       vimpPlot,
       simLong,
       boostmtree.news)

S3method(print, boostmtree)
S3method(plot, boostmtree)
S3method(predict, boostmtree)

